



/******************* fonts *******************/
.contactInfo a,
footer a {
   /* font-family: 'Inconsolata', monospace; */
}

h5,
h6,
h2,
h1,
p {
   /* font-family: 'Montserrat', sans-serif; */
}






































/***************** ebay and call buttons *****************/
#ebayBtn {
   color: #0a3d62;
   border: 1px solid #0a3d62;
}
#ebayBtn:hover {
   background: #0a3d62;
   color: #fff;
}

#callBtn {
   width: 88.1px; /* same as ebay btn */
   margin-left: 30px;
   background: #0a3d62;
   color: #fff;
   border: 1px solid #0a3d62;
}
#callBtn:hover {
   background: #204E70;
}








/**************** footer ****************/
footer {
   height: 170px;
   background: #313638;
   text-align: center;
}

footer a {
   color: #fff;
   font-size: .9em;
   display: inline-block;
}

footer #address {
   margin: auto 40px auto 40px;
}

footer .contact {
   position: relative;
   bottom: 22px;
}

footer div {
   margin-top: 60px;
   display: inline-block;
}








/* media query to change the layout and position of elements on smaller screens */
/* collapse the content in the footer on top of each other */
@media screen and (max-width:770px) {
     footer a {
       display: block;
       margin-top: 10px;
       margin-bottom: 10px;
     }
     footer .contact {
        position: static;
     }
     footer #address {
        margin: 0;
     }
     footer div {
        margin: 0;
     }
   }
